body {
  min-width:300px;
  max-height:500px;
  overflow-y:scroll;
}

div {
	box-sizing: border-box;
    width: auto;
    position: relative;
    overflow: visible;
    
}

h1 {
	
	color: white;
	font: 'merriweather','Helvetica' , sans-serif;
	background-color: #0072BB;
	width: 100%;
	height: 100%;
	font-size: 18px;
	text-align: center;
	padding: auto;
	


}

h2 {

  color: white;
  font: 'merriweather','Helvetica' , sans-serif;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-align: center;
  padding: auto;
}
h2.good {
  background-color: #0072BB;
}
h2.bad {
  background-color: red;
}

#holla {
  display:none;
}

#tweetThanksLinkContainer, #tweetShameLinkContainer, #tweetModerateShameLinkContainer {
  display:none;
}
#couldHolla {
  display:none;
}
#notrackers {
  display:none;
}

#about {
  float:right;
  display: block;
  background:#2db74e;
  cursor:pointer;
  font-size:1em;
  padding:0 0.4em;
}

.tweetLink {
  display:block;
  outline:none;
  margin-top:0.5em;
}
.tweetContainer {
  display:block;
  margin-top:0.5em;
}

.hostsContainer {
  font-size:0.9em;
  max-height:100px;
  overflow-x:scroll;
  padding-left:0;
}

.hostsContainer li:nth-child(odd) {
   background-color: #eee;
}

#faq {
  display:none;
}

#sandbox {
  height:0;
  display:none;
}